@charset "UTF-8";
/* Em HTML é id = em CSS é # */
/* Em HTML é class = em CSS é . */
body{
    background-color: #212121;
    font: normal 16px Arial, Helvetica, sans-serif;
}
h1{
    color: white;
    background-color: black;
    text-align: center;
}
#titulo{
    background-color: rgb(0, 0, 126);
    text-align: center;
    color: white;
}
.basico{
    color: green;
}
.intermediario{
    color: yellow;
}
.avançado{
    color: red;
}

p{
    color: white;
}